/* [project]/src/components/Menu/Menu.css [app-client] (css) */
.menu {
  will-change: transform;
  z-index: 10;
  width: calc(100% - 4rem);
  max-width: 2000px;
  transition: transform .4s;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.menu.hidden {
  transform: translateX(-50%)translateY(-300%);
}

.menu .menu-header {
  background-color: var(--base-700);
  z-index: 2;
  cursor: pointer;
  border-radius: .75rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.75rem;
  display: flex;
  position: relative;
}

.menu .menu-logo {
  text-transform: uppercase;
  font-family: var(--font-koulen), sans-serif;
  cursor: pointer;
  color: var(--base-100);
  font-size: clamp(1.25rem, 2vw, 3rem);
  line-height: 1;
}

.menu .menu-toggle {
  cursor: pointer;
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: .5rem;
  display: flex;
  position: relative;
}

.menu .menu-hamburger-icon {
  cursor: pointer;
  width: 20px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 0;
}

.menu .menu-item {
  background: var(--base-100);
  border-radius: 1px;
  width: 20px;
  height: 2px;
  margin: 0 0 4px;
  transition: all .2s;
  display: block;
}

.menu .menu-hamburger-icon.open .menu-item {
  background: var(--base-100);
}

.menu .menu-hamburger-icon.open .menu-item:first-child {
  transform-origin: 5px;
  transform: rotate(45deg);
}

.menu .menu-hamburger-icon.open .menu-item:nth-child(2) {
  transform-origin: 6px;
  transform: rotate(-45deg);
}

.menu .menu-overlay {
  background-color: var(--base-700);
  transform-origin: top;
  will-change: transform;
  border-radius: 0 0 .75rem .75rem;
  flex-direction: column;
  gap: 4rem;
  margin-top: -.75rem;
  padding: 4rem 2rem 2rem;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  transform: scaleY(0);
}

.menu .menu-overlay-items {
  gap: 4rem;
  display: flex;
}

.menu .menu-items-header p {
  color: var(--base-500);
}

.menu .menu-overlay-col-sm {
  flex-direction: column;
  flex: 2;
  gap: 2rem;
  display: flex;
}

.menu .menu-overlay-col-sm .menu-main-link {
  width: 70%;
  color: var(--base-100);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu .menu-overlay-col-sm .menu-main-link p {
  font-size: 1.25rem;
}

.menu .menu-overlay-col-lg {
  flex: 2.5;
  gap: 2rem;
  display: flex;
}

.menu .menu-overlay-col-lg .menu-overlay-sub-col {
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  display: flex;
}

.menu .menu-sub-links {
  flex-direction: column;
  display: flex;
}

.menu .menu-sub-links a {
  color: var(--base-100);
  border-bottom: 1px dashed var(--base-500);
  will-change: transform, opacity;
  padding: 1rem 0;
  display: block;
  position: relative;
}

.menu .menu-overlay-footer {
  border-top: 1px dashed var(--base-500);
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 0;
  display: flex;
}

.menu .menu-overlay-footer a {
  color: var(--base-100);
}

@media (max-width: 1000px) {
  .menu {
    width: calc(100% - 3rem);
    top: 1.5rem;
  }

  .menu .menu-overlay-items {
    flex-direction: column;
    gap: 2rem;
  }

  .menu .menu-items-header {
    display: none;
  }

  .menu .menu-overlay-col-lg {
    flex-direction: column;
  }

  .menu .menu-product-links {
    display: none;
  }
}

/*# sourceMappingURL=src_components_Menu_Menu_css_bad6b30c._.single.css.map*/